page-city-ctr {
  ion-app.md .scroll-content {
    padding: 0;
  }
  .item-md.item-block .item-inner, .list-ios .item-block .item-inner{
    border-bottom: none;
  }
  ion-item-sliding .item {
    border-bottom: 0.55px solid #c8c7cc;;
  }
  .item-block {
    min-height: 30px;
    height: 45px;
  }
  .ip-item {
    border-bottom: 1px #dedede solid;
    background: #fbfbfb;
  }
  .side-icon {
    color: #488aff;
    font-size:24px;
    line-height:40px;
  }
  .item-md h2{
    margin:0;
    font-size:15px;
  }
  .item-md p{
    font-size:1.2rem;
    margin: 2px 0 0 0;
    color: #777;
  }
}
